*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    font-family: "Dosis", sans-serif;
}

.list:hover{
    color:brown;
}
.leaf-img {
    width: 200px;
    height: 500px;
    margin-left: 30%;
    margin-bottom: 35%;
    /* transform: rotate(3rad); */
    transition: transform 0.3s ease;
    margin-top: 200px;
}

@media (max-width:480px) {
    .leaf-img{
        width: 150px;
        height:450px;
      
    }
}
.text{
    position:absolute;
   margin-top:20rem; 
   z-index:1;
   margin-left:6rem ;
   font-size:6.5rem;
   font-family: "Cormorant Infant", serif;
  font-weight: 900;
}
.text span{
    padding-left:90px;
    font-size:6.5rem;
}
@media (max-width: 768px) {
    .text{
        font-size: 5rem; 
    }
}

 /* Small screens (mobile phones) */
@media (max-width: 480px) {
    .text{
        font-size: 4.2rem;
    }
    .text span{
        padding-left:55px;
  } 
}

.items:hover{
  background-color:transparent !important;
  color:black !important;
}

a.contact-info:hover{
   color: brown !important;
   text-decoration:underline!important;
}
a.nav-link:hover{
    color:brown !important;
}
